@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.container {
  width: 1200px;
  margin: 0 auto;
}

body {
  background-color: rgb(8, 2, 13);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.header-wrapper {
  display: flex;
  margin: 0 auto;
}

.header-logo {
  display: flex;
  text-align: center;
  align-items: center;
  margin-right: 90px;
  gap: 16px;
}
.header-logo img {
  display: inline-block;
  height: 24px;
  width: 24px;
}
.header-logo a {
  color: rgb(202, 202, 202);
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
}

.header-nav {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header-nav-item {
  color: rgb(202, 202, 202);
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
}
.header-nav-item:hover {
  color: white;
}

.header-input-wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.header-input-wrapper .header-input {
  height: 25px;
  width: 250px;
  border: none;
  border-radius: 50px;
  background: rgb(60, 59, 61);
}
.header-input-wrapper .header-input::-moz-placeholder {
  color: rgb(117, 117, 117);
  font-family: Arial;
  font-size: 13.3px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.header-input-wrapper .header-input::placeholder {
  color: rgb(117, 117, 117);
  font-family: Arial;
  font-size: 13.3px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.page-description {
  background-image: url(/images/banner.png);
  padding-top: 200px;
  padding-bottom: 200px;
}

.poge-description_title-wrapper {
  text-align: center;
}
.poge-description_title-wrapper h1 {
  color: white;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.poge-description_title-wrapper h2 {
  color: white;
  font-family: Roboto;
  font-size: 38px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 31px;
}
.poge-description_title-wrapper p {
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  margin-bottom: 17px;
}

.page-description_input-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
}
.page-description_input-wrapper input {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  border: 2px solid rgb(202, 202, 202);
  border-radius: 3px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.page-description_input-wrapper input::-moz-placeholder {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.page-description_input-wrapper input::placeholder {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}

.page-description_button .btn {
  margin: 0 auto;
  display: block;
  width: 505px;
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
  background-color: rgb(52, 193, 118);
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 13.3px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s;
}
.page-description_button .btn:hover {
  transform: scale(1.1);
  background-color: white;
  color: black;
}/*# sourceMappingURL=index.css.map */